################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UnitTestProject/bin
/UnitTestProject/obj
/.vs
